*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{font-family: serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
/* background-color: whitesmoke; */
    background:linear-gradient(120deg,#2980b9,#8e44ad);
}
.order{
    width: 360px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    /* background: rgb(240, 230, 230); */
    background-color: lavender;
}
.order form{
    font-size: 20px;
}
.order form.form-group{
    margin-bottom: 12px;
}
.order form input[type="submit"]{
font-size: 20px;
margin-top: 15px; 
}
.button{color: white;
    background-color: blue;
}