/* .tiffin{
color:crimson;
}
.main{
    padding: 20px 20px 0px 20px;
}
.head{
    padding: 20px 100px 20px 100px;
}
.cards{  border-radius: 2em;
    display: inline-block;
    padding: 0px 0px 0px 0px;
   margin: 0px 0px 0px 0px;
    /* background-color:whitesmoke;  */
/* background-color: lavender;
    cursor: pointer; 
 }  */
/* .cards:hover{
    transform: scale(1.1); 
} */
/* .catalog-image:hover
{transform: scale(1.1); 
}
.thali{
    margin-top: 50px;
} */
/* .mess{
    padding: 0px 0px 0px 100px;
}  */

/* .catalog{color: crimson;
    background:lavender;
        border-radius: 2em;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
       
    }
    .catalog-image{
    height: 10em;
    border-radius: 1em;
    }
    .catalog-image:hover{
        cursor: pointer;
        transform: scale(1.1);
    }
    .catalog-text{
    font-weight: bold;
    font-size: large;
    }
    .catalog-button{
        display: flex;
        color: blue;
       margin: 2em;
    }
    .button{   
        /* font-weight: 600; */
/* background-color: black;
    }
    .button:hover{  */
/* background-color: rgb(32, 32, 32); */
/* color: white;
        background: rgb(118, 133, 142); */
/* transform: scale(1.2); */
/* text-transform: capitalize;  */
/* }
   
     */
.tiffin {
    color: crimson;
}

.main {
    padding: 0px 20px 0px 20px;
}

.head {
    padding: 0px 100px 20px 100px;
}

.cards {
    border-radius: 2em;
    display: inline-block;
    padding: 20px;
    margin: 20px 30px 10px 30px;
    margin-bottom: 70px;
    /* background-color:whitesmoke;  */
    background-color: rgb(208, 208, 234);
    cursor: pointer;
}

.cards:hover {
    transform: scale(1.1);
}

.img-fluid:hover {
    opacity: 0.8;
}

.img-fluid {
    height: 15em;
    border-radius: 1.5em;
}

.catalog-button {
    padding-top: 1em;
}

.catalog-button .view {
    /* background-color: rgb(129, 133, 182); */
    background-color: silver;
}

.catalog-button .view:hover {
    /* background-color: rgb(129, 133, 182); */

    background-color: darkgrey;
    color: crimson;


}