.singlepro{
    background: rgb(229, 228, 228);
    padding-bottom: 2%;
}
.small-img-group{
    display: flex;
    justify-content: space-between;

}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
.singlepro select {
display: block;
padding: 5px 10px;
}
.singlepro input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
.singlepro input:focus{
outline: none;
}
.buy-btn{
    background-color: rgb(237, 64, 15);
    opacity: 1;
    transition: 0.3s;
    border: none;
    padding: 8px;
    margin: 2px;
    border-radius: 3px;
}