*{
 
  box-sizing: border-box;
}
body{       
    /* background:linear-gradient(120deg,#2980b9,#8e44ad;          */
    background:linear-gradient(120deg,#7696ab,#97839f);
    font-family: sans-serif;
    padding: 20px 20px 20;
}
.container{
    list-style: none;
}
.logo{
    height: 3em;
    width: 5em;
}
.navbar ul{  
    margin: 0px 0px 0px 50px;
}
.navbar li{
    float: left;
}
.navbar li a{
    font-weight: bold;
    display: block;
    padding: 10px 50px;
}
.navbar li a:hover{
    color: rgb(0, 0, 0);
    background-color:white;
    cursor: pointer;
    border-radius: 2em;
}
.img-fluid{
    padding: 0px 0px 0px 0px;
   
}
.dropdown-menu{
    color: white;
    background-color: rgb(48, 42, 42);
}
.btn{
    color: rgb(112, 85, 85);
    background-color: white;
    font-weight: bold;
}

.container{
    margin-top: 2%;
}
.card-img-top:hover{
    opacity: .7;
    
}
.card{
    display: inline-block;
    margin-top: 2%;
    margin:3%;
    background: rgb(84, 116, 136);
    color: white;
}
.ending{
    color: white;    
}
.services{
    text-align: center;
    justify-content: center
}
.services-links{
    
}
