* {
  box-sizing: border-box;
}
body{    
    font-family: serif;
    font-size: 1em;
    background-color: rgb(231, 228, 221);
  }
.nav{
 display: flexbox;
 gap: 90px;
 height: 100px;
 background-color: rgb(1, 38, 59);
 border-radius: 40px;
 box-shadow: 4px 9px 7px 9px #706f6f;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin: 1%;
  animation: 12s myGradient infinite;
  margin-bottom: 2%;
}
.list{
  display: flex;
  gap:60px;
}
.list a{
  text-decoration: none;
  font-size: 1.5rem;
  padding-top: 4.5%;
  color: azure;
  cursor: pointer;
}
.vl {
  border-left: 4px solid rgb(86, 99, 117);
  margin-top: 1.5%;
  height: 50px;
 
}
.register
{
  padding-top: 2%;
}
.btn{
  background-color: #4c90af; 
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
 padding-bottom: 5%;
 padding-top: 5%;
  font-weight: 400;
  font-size: 120%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
button:hover{
  background-color: antiquewhite;

}











.card-img-top:hover {
  opacity: 0.8;
}
.card:hover {
  transform: scale(1.1);
}
.card {
  display: inline-block;
  margin-top: 5%;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 5%;
  background:silver;
  color: rgb(0, 0, 0);
  font-family: cursive;
}




.button {
  font-size: 1.2em;
  margin-bottom: 3%;
  color: black;
  background-color: darkgrey;
  border-radius: 30px;
  border-color: brown;
}

.fott{
  background-color: #24262b;
  padding: 70px 0;
}
.col{
  width: 20%;
  padding:0 15px;
  color: aliceblue;
  padding-top: 5%;
  padding-left: 5%;
}
footer{
  padding: 0;
  margin: 0;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}
.col h4{
font-size: 18px;
color:#ffffff;
text-transform: capitalize;
margin-bottom: 30px;
font-weight: 500;
position: relative;
}
.col h4::before{
  content: ' ';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.col ul li:not(:last-child){
margin-bottom: 10px;
}
.col ul li a{

  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}
.col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
hr.new5 {
  border: 1px solid rgb(134, 200, 216);
  border-radius: 5px;
 margin-left:25%;
 margin-right: 25%;
}

.social-link a{
display: inline-block;
height:40px;
width:40px;
background-color: rgba(255,255,255,0.2);
margin:0 10px 10px 0;

line-height:40px;
border-radius:50%;
color: #ffffff;
transition: all 0.5s ease;
}
.social-link a:hover{
color: #24262b;
background-color: #ffffff;
}
.col1{
width: 20%;
padding-right: 3%;
}