* {
  box-sizing: border-box;
}
body{    
    font-family: serif;
    font-size: 1em;
    background-color: rgb(231, 228, 221);}
.container {
  list-style: none;
}
.logo {
  height: 3em;
  width: 5em;
}
.navbar ul {
  margin: 0px 0px 0px 50px;
}
.navbar li {
  float: left;
}
.navbar li a {
  font-weight: bold;
  display: block;
  padding: 10px 50px;
}
.navbar li a:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 2em;
}

.dropdown-menu {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}
.btn {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  font-weight: bold;
}
.btn :hover {
  color: black;
  background-color: white;
}
.card-img-top:hover {
  opacity: 0.8;
}
.card:hover {
  transform: scale(1.1);
}
.card {
  display: inline-block;
  margin-top: 5%;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 5%;
  background:silver;
  color: rgb(0, 0, 0);
  font-family: cursive;
}




.button {
  font-size: 1.2em;
  margin-bottom: 3%;
  color: black;
  background-color: darkgrey;
  border-radius: 30px;
  border-color: brown;
}

.fott{
  background-color: #24262b;
  padding: 70px 0;
}
.col{
  width: 20%;
  padding:0 15px;
  color: aliceblue;
  padding-top: 5%;
  padding-left: 5%;
}
footer{
  padding: 0;
  margin: 0;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}
.col h4{
font-size: 18px;
color:#ffffff;
text-transform: capitalize;
margin-bottom: 30px;
font-weight: 500;
position: relative;
}
.col h4::before{
  content: ' ';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.col ul li:not(:last-child){
margin-bottom: 10px;
}
.col ul li a{

  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}
.col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
hr.new5 {
  border: 1px solid rgb(134, 200, 216);
  border-radius: 5px;
 margin-left:25%;
 margin-right: 25%;
}

.social-link a{
display: inline-block;
height:40px;
width:40px;
background-color: rgba(255,255,255,0.2);
margin:0 10px 10px 0;

line-height:40px;
border-radius:50%;
color: #ffffff;
transition: all 0.5s ease;
}
.social-link a:hover{
color: #24262b;
background-color: #ffffff;
}
.col1{
width: 20%;
padding-right: 3%;
}