.tiffin {
    margin-top: 3%;
    padding: 3%;
    background:linear-gradient(to  left, #033f41 25%, #469bb2 100%);
    border-radius: 10px;
   
}

.main {
    padding: 10px 20px 0px 20px;
    color: white;
}
.head h5{
    padding-left: 1%;
    padding-right: 1%;
}

.head {
    padding: 0px 100px 0px 100px;
   color: white;
}
/* 
.cards {
    border-radius: 2em;
    display: inline-block;
    padding: 20px;
    margin: 20px 30px 10px 30px;
    margin-bottom: 70px;
    background:silver;
    cursor: pointer;
    color: #033f41;
}

.cards:hover {
    transform: scale(1.1);
}


.img-fluid:hover {
    opacity: 0.8;
}
.img-fluid {
    height: 15em;
    border-radius: 1.5em;
}

.catalog-button {
    padding-top: 1em;
}
.catalog-button .view {
    background-color: rgb(110, 104, 104);
}
.catalog-button .view:hover {
    background-color: darkgrey;
    color: crimson;
} */