<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accomodations</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" text="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

    <script src="/static/product.js"></script>
    <link rel="stylesheet" href="/static/aboutus.css">
    <link rel="stylesheet" href="/static/product.css">
  
    <!-- <link rel="stylesheet" href="/static/aboutus.css" /> -->
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar ">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <img src="/static/logo.png" class="logo" alt="wrong">
  
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="navbar-brand" href="/index">Home</a>
            </li>
            <li class="nav-item">
              <a class="navbar-brand" href="/aboutus">About Us</a>
            </li>
            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a class="navbar-brand nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="true">
                    Services
                  </a>
                  <ul class="dropdown-menu ">
                    <li><a class="dropdown-item"href="/rooms">Rooms</a></li>
                    <li><a class="dropdown-item" href="/food">Tiffin Centre</a></li>
                    <li><a class="dropdown-item" href="/shops">Local Shops</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <li class="nav-item">
              <a class="navbar-brand" href="/contact">Contact Us</a>
            </li>
          </ul>
          <form action="/login" class="d-flex" role="search">
            <button class="tan text-center" type="submit">Login/Register</button>
          </form>

        </div>
      </div>
    </nav>
    <div class="containeri">
      <div class="text text-center">
        <h1 >Getting frustated on searching room here and there not any more search here for home you want.</h1>
      </div>
    </div>
    <section class="container singlepro my-1 pt-5 mx-6 fb-30">
      <div class="row">
      <div class="col-lg-5 col-md-12 col-12">
  <img class="img-fluid w-100 pb-1 mt-4" src="/static/room6.jpg" id="main-img" alt="product image">
  <br><br>
  <div class="small-img-group">
    <div class="small-img-col">
      <img src="/static/g.jpg"  width="100%" class="small-img" alt="">
    </div>
    <div class="small-img-col">
      <img src="/static/r.jpeg"  width="100%" class="small-img" alt="">
    </div> 
     <div class="small-img-col">
      <img src="/static/img10.jpg" width="100%" class="small-img" alt="">
    </div>
    <div class="small-img-col">
      <img src="/static/room6.jpg"  width="100%" class="small-img" alt="">
    </div>
  </div></div>
  
    <div class="catalog row mx-6 col mx-5">
      <div class="catalog-text">
  <h2 class="py-1">Deluxe Single Room</h2> <hr>
  <h6>This room has a good surrounding with cleanliness</h6>
  <h3 class="py-1">Room details</h3>
  <h5>1 BHK -  Rs 3000 / Month</h5>
  <h5>1 Extra Large Double Bed</h5>
  <h5>Modern Kitchen</h5>
  <h5>Ensuite bathroom</h5>
  <h5>Balcony</h5>
  <div class="class py-4">
    <a class="buy btn " data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      Contact Owner</a></div>
      <div class="collapse" id="collapseExample">
      <div class="card card-body" id="mycard1">
      Name : Mahesh Singh Bhadoriya   <br>
      Phone Number : 9645638752  <br>
      Mail id : bhadoriyamahesh@gmail.com 
      </div>
    </div></div> </div> </div>
    </section> 

  <section class="container singlepro my-1 pt-5 mx-6 fb-30">
    <div class="row">
    <div class="col-lg-5 col-md-12 col-12">
<img class="img-fluid w-100 pb-1 mt-4" src="/static/r.jpg" id="main-img" alt="product image">
<br><br>
<div class="small-img-group">
  <div class="small-img-col">
    <img src="/static/rp.jpg"  width="100%" class="small-img" alt="">
  </div>
  <div class="small-img-col">
    <img src="/static/img5.jpg"  width="100%" class="small-img" alt="">
  </div> 
  <div class="small-img-col">
    <img src="/static/dining.jpeg"  width="100%" class="small-img" alt="">
  </div>
  <div class="small-img-col">
    <img src="/static/wash.jpg" width="100%" class="small-img" alt="">
  </div>
</div></div>

  <div class="catalog row mx-6 col mx-5">
    <div class="catalog-text">
<h2 class="py-1">Deluxe Suite </h2> <hr>
<h6>This room has a good surrounding with cleanliness</h6>
<h3 class="py-1">Room details</h3>
<h5>2 BHK -  Rs 4000 / Month</h5>
<h5>1 Extra Large Double Bed</h5>
<h5>Modern Kitchen</h5>
<h5>Dining room</h5>
<h5>Ensuite bathroom</h5>
<div class="class py-4">
  <a class="buy btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Contact Owner</a></div>
    <div class="collapse" id="collapseExample">
    <div class="card card-body" id="mycard3">
    Name : Surendra Mishra   <br>
    Phone Number : 7859874752  <br>
    Mail id : mishrasurendra@gmail.com 
    </div>
  </div></div> </div> </div>
  </section>

  
  <section class="container singlepro my-1 pt-5 mx-6 fb-30">
    <div class="row">
    <div class="col-lg-5 col-md-12 col-12">
<img class="img-fluid w-100 pb-1 mt-4" src="/static/hall.jpg" id="main-img" alt="product image">
<br><br>
<div class="small-img-group">
  <div class="small-img-col">
    <img src="/static/bed2.jpg"  width="100%" class="small-img" alt="">
  </div>
  <div class="small-img-col">
    <img src="/static/h.jpg"  width="100%" class="small-img" alt="">
  </div> 
   <div class="small-img-col">
    <img src="/static/do.jpg" width="100%" class="small-img" alt="">
  </div>
  <div class="small-img-col">
    <img src="/static/w.jpg"  width="100%" class="small-img" alt="">
  </div>
</div></div>

  <div class="catalog row mx-6 col mx-5">
    <div class="catalog-text">
<h2 class="py-1">Superior Double Room</h2> <hr>
<h6>This room has a good surrounding with cleanliness</h6>
<h3 class="py-1">Room details</h3>
<h5>2 BHK -  Rs 5000 / Month</h5>
<h5>2 Extra Large Double room with double bed</h5>
<h5>Modern Kitchen</h5>
<h5>Private bathroom</h5>
<h5>Balcony</h5>
<div class="class py-4">
  <a class="buy btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Contact Owner</a></div>
    <div class="collapse" id="collapseExample">
    <div class="card card-body" id="mycard2">
    Name : Suresh Khandelwal   <br>
    Phone Number : 8746475952  <br>
    Mail id : khandelwal@gmail.com 
    </div>
  </div></div> </div> </div>
  </section>

    

  <section class="container singlepro my-1 pt-5 mx-6 fb-30">
    <div class="row">
    <div class="col-lg-5 col-md-12 col-12">
<img class="img-fluid w-100 pb-1 mt-4" src="/static/h3.jpg" id="main-img" alt="product image">
<br><br>
<div class="small-img-group">
  <div class="small-img-col">
    <img src="/static/room5.jpeg"  width="100%" class="small-img" alt="">
  </div>
  <div class="small-img-col">
    <img src="/static/k.jpg"  width="100%" class="small-img" alt="">
  </div> 
   <div class="small-img-col">
    <img src="/static/st.jpg" width="100%" class="small-img" alt="">
  </div>
  <div class="small-img-col">
    <img src="/static/washroom.jpg"  width="100%" class="small-img" alt="">
  </div>
</div></div>

  <div class="catalog row mx-6 col mx-5">
    <div class="catalog-text">
<h2 class="py-1">Delux Suite With Study Room</h2> <hr>
<h6>This room has a good surrounding with cleanliness</h6>
<h3 class="py-1">Room details</h3>
<h5>1 BHK -  Rs 4000 / Month</h5>
<h5>1 Extra Large Double Bed</h5>
<h5>Modern Kitchen</h5>
<h5>Study Room</h5>
<h5>Ensuite bathroom</h5>
<div class="class py-4">
  <a class="buy btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Contact Owner</a></div>
    <div class="collapse" id="collapseExample">
    <div class="card card-body" id="mycard4">
    Name : Omprakash Kushwaah   <br>
    Phone Number : 9847578452  <br>
    Mail id : kushwaah@gmail.com 
    </div>
  </div></div> </div> </div>
  </section>
    

  <section class="container singlepro my-1 pt-5 mx-6 fb-30">
    <div class="row">
    <div class="col-lg-5 col-md-12 col-12">
<img class="img-fluid w-100 pb-1 mt-4" src="/static/h1.jpg" id="main-img" alt="product image">
<br><br>
<div class="small-img-group">
  <div class="small-img-col">
    <img src="/static/double.jpg"  width="100%" class="small-img" alt="">
  </div>
  <div class="small-img-col">
    <img src="/static/kit.png"  width="100%" class="small-img" alt="">
  </div> 
   <div class="small-img-col">
    <img src="/static/b.jpg" width="100%" class="small-img" alt="">
  </div>
  <div class="small-img-col">
    <img src="/static/w1.jpg"  width="100%" class="small-img" alt="">
  </div>
</div></div>

  <div class="catalog row mx-6 col mx-5">
    <div class="catalog-text">
<h2 class="py-1">Single Room With Two Beds</h2> <hr>
<h6>This room has a good surrounding with cleanliness</h6>
<h3 class="py-1">Room details</h3>
<h5>1 BHK -  Rs 3500 / Month</h5>
<h5>1 Extra Large two Beds</h5>
<h5>Modern Kitchen</h5>
<h5>Ensuite bathroom</h5>
<h5>Balcony</h5>
<div class="class py-4">
  <a class="buy btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Contact Owner</a></div>
    <div class="collapse" id="collapseExample">
    <div class="card card-body" id="mycard5">
    Name : Shubham Sharma   <br>
    Phone Number : 9647746452  <br>
    Mail id : shubhamsharma@gmail.com 
    </div>
  </div></div> </div> </div>
  </section>

  <section class="container singlepro my-1 pt-5 mx-6 fb-30">
    <div class="row">
    <div class="col-lg-5 col-md-12 col-12">
<img class="img-fluid w-100 pb-1 mt-4" src="/static/h2.jpg" id="main-img" alt="product image">
<br><br>
<div class="small-img-group">
  <div class="small-img-col">
    <img src="/static/Rm.jpg"  width="100%" class="small-img" alt="">
  </div>
  <div class="small-img-col">
    <img src="/static/rps.jpg"  width="100%" class="small-img" alt="">
  </div> 
  <div class="small-img-col">
    <img src="/static/ba.jpg"  width="100%" class="small-img" alt="">
  </div>
  <div class="small-img-col">
    <img src="/static/w2.jpg" width="100%" class="small-img" alt="">
  </div>
</div></div>

  <div class="catalog row mx-6 col mx-5">
    <div class="catalog-text">
<h2 class="py-1">Superior Bed Room With balcony</h2> <hr>
<h6>This room has a good surrounding with cleanliness</h6>
<h3 class="py-1">Room details</h3>
<h5>1 BHK -  Rs 3500 / Month</h5>
<h5>1 Extra Large Double Bed</h5>
<h5>Modern Kitchen</h5>
<h5>Ensuite bathroom</h5>
<h5>Balcony</h5>
<div class="class py-4">
  <a class="buy btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Contact Owner</a></div>
    <div class="collapse" id="collapseExample">
    <div class="card card-body" id="mycard6">
    Name : Harendra Singh Tomar  <br>
    Phone Number : 8675264737  <br>
    Mail id : tomarsing@gmail.com 
    </div>
  </div></div> </div> </div>
  </section>
  <footer class="fott" style="margin-top:2%;">
    <div class="container">
        <div  class="row" style="background:#24262b;">
          <div class="col1">
            <img src="/static/logo.png" width="20%">
            <p style="color:rgb(80, 183, 190);" class="blwlogo">In this project we had mainly focused on frontend part. we had made this project which basically helps those people who visit to a new place and dont know about that place their they face many problems like having accomodation, food, shops hospitals, hotels etc.</p>
          </div>
            <div class="col" >
                <h4>Menu</h4>
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/aboutus">About us</a></li>
                    <li><a href="/contact">Contact us</a></li>
                    <li><a href="/login">login/register</a></li>
                </ul>
            </div>
            <div class="col">
                <h4> Major services</h4>
                <ul>
                    <li><a>Accomodation</a></li>
                    <li><a>Food services</a></li>
                    <li><a>Shops</a></li>
                    
                    
                </ul>
            </div>
            <div class="col">
                <h4>Other  Services</h4>
                <ul>
                  <li><a href="">Bank And ATM</a></li>
                  <li><a href="">Popst office</a></li>
                  <li><a href="/hospital">Hospital</a></li>
                </ul>
            </div>
            <div class="col">
                <h4>Get Help</h4>
                <ul>
                  <li><a href="/contact">contact us</a></li>
                    <li><a>FAQ</a></li>
                    <li><a>Shipping<c/a></li>
                    <li><a>Payment Options</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div>
      <hr class="new5">
    </div>
    <div class="social">
      <div class="social-link" style="text-align:center;">
          <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f "></i></a>
          <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/"><i class="fab fa-instagram "></i></a>
          <a href="https://in.linkedin.com/"><i class="fab fa-linkedin-in"></i></a></li>
        </div>
    </div>
    <br>
</footer>

  



  </body>
</html>


