.catalog {
  background: rgb(195, 187, 203);
  border-radius: 2em;
  padding: 30px 20px 30px 20px;
}
.catalog-image {
  margin-left: 10em;
  height: 20em;
  border-radius: 1em;
}
.catalog-image:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.catalog-text {
  font-weight: 600;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.catalog-button {
  display: flex;
  margin: 2em;
}
.button {
  font-weight: 600;
}
.button:hover {
  color: white;
  background: rgb(84, 116, 136);

}
