<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accomodations</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>
<!-- 
    <link rel="stylesheet" href="style.css" /> -->
    <script src="/static/product.js"></script>
    <link rel="stylesheet" href="/static/product.css">
  </head>
  <body>
    
    <!-- <nav class="navbar navbar-expand-lg navbar bg-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <img src="images/logo.png" class="logo" alt="wrong">
  
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="navbar-brand" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="navbar-brand" href="Aboutus.html">About Us</a>
            </li>
           
            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a class="navbar-brand nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="true">
                    Services
                  </a>
                  <ul class="dropdown-menu ">
                    <li><a class="dropdown-item"href="rooms.html">Rooms</a></li>
                    <li><a class="dropdown-item" href="food.html">Tiffin Centre</a></li>
                    <li><a class="dropdown-item" href="shops.html">Local Shops</a></li>
                  </ul>
                </li>
              </ul>
            </div>
  
            <li class="nav-item">
              <a class="navbar-brand" href="contact.html">Contact Us</a>
            </li>
          </ul>
          <form action="login page.html" class="d-flex" role="search">
            <button class="btn " type="submit">Login/Register</button>
          </form>
        </div>
      </div>
    </nav> -->
   

   
  <section class="container singlepro my-1 pt-5 mx-6 fb-30">
    <div class="row">
    <div class="col-lg-5 col-md-12 col-12">
<img class="img-fluid w-100 pb-1 mt-4" src="/static/f1.jpg" id="main-img" alt="product image">
<br><br>
<div class="small-img-group">
  <div class="small-img-col">
    <img src="/static/f0.jpg" width="100%" class="small-img" alt="">
  </div>
  <div class="small-img-col">
    <img src="/static/f2.jpg"  width="100%" class="small-img" alt="">
  </div>
  <div class="small-img-col">
    <img src="/static/vegetable1.jfif"  width="100%" class="small-img" alt="">
  </div>
  <div class="small-img-col">
    <img src="/static/vegetable2.jpg"  width="100%" class="small-img" alt="">
  </div> 


</div></div>

  <div class="catalog row mx-6 col mx-5">
    <div class="catalog-text">
<h2 class="py-1">Whole Food Market</h2> <hr>
<h6>This room has a good surrounding with cleanliness</h6>
<h3 class="py-1">Room details</h3>
<h5>2 BHK -  Rs 4000 / Month</h5>
<h5>1 Extra Large Double Bed</h5>
<h5>Modern Kitchen</h5>
<h5>Dining room</h5>
<h5>Ensuite bathroom</h5>
<div class="class py-1">
  <a class="buy btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Contact Owner</a></div>
    <div class="collapse" id="collapseExample">
    <div class="card card-body" id="mycard3">
    Name : Surendra Mishra   <br>
    Phone Number : 7859874752  <br>
    Mail id : mishrasurendra@gmail.com 
    </div>
  </div></div> </div> </div>
  </section>


  
  <section class="container singlepro my-1 pt-5 mx-6 fb-30">
    <div class="row">
    <div class="col-lg-5 col-md-12 col-12">
<img class="img-fluid w-100 pb-1 mt-4" src="/static/q0.jpg" id="main-img" alt="product image">
<br><br>
<div class="small-img-group">
  <div class="small-img-col">
    <img src="/static/qx.jpg" width="100%" class="small-img" alt="">
  </div>
  <div class="small-img-col">
    <img src="/static/q1.jpg"  width="100%" class="small-img" alt="">
  </div>
  <div class="small-img-col">
    <img src="/static/q2.png"  width="100%" class="small-img" alt="">
  </div> 
  
  <div class="small-img-col">
    <img src="/static/py.jpg"  width="100%" class="small-img" alt="">
  </div>
</div></div>

  <div class="catalog row mx-6 col mx-5">
    <div class="catalog-text">
<h2 class="py-1">Main & Marine Medical Clinic</h2> <hr>
<h6>This room has a good surrounding with cleanliness</h6>
<h3 class="py-1">Room details</h3>
<h5>2 BHK -  Rs 5000 / Month</h5>
<h5>2 Extra Large Double room with double bed</h5>
<h5>Modern Kitchen</h5>
<h5>Private bathroom</h5>
<h5>Balcony</h5>
<div class="class py-1">
  <a class="buy btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Contact Owner</a></div>
    <div class="collapse" id="collapseExample">
    <div class="card card-body" id="mycard2">
    Name : Suresh Khandelwal   <br>
    Phone Number : 8746475952  <br>
    Mail id : khandelwal@gmail.com 
    </div>
  </div></div> </div> </div>
  </section>


    
  <section class="container singlepro my-1 pt-5 mx-6 fb-30">
    <div class="row">
    <div class="col-lg-5 col-md-12 col-12">
<img class="img-fluid w-100 pb-1 mt-4" src="/static/a0.jpg" id="main-img" alt="product image">
<br><br>
<div class="small-img-group">
  <div class="small-img-col">
    <img src="/static/a1.jpg"  width="100%" class="small-img" alt="">
  </div>
  <div class="small-img-col">
    <img src="/static/a3.jpg" width="100%" class="small-img" alt="">
  </div>
  <div class="small-img-col">
    <img src="/static/a2.png"  width="100%" class="small-img" alt="">
  </div> 

  <div class="small-img-col">
    <img src="/static/a4.jpg"  width="100%" class="small-img" alt="">
  </div>
</div></div>

  <div class="catalog row mx-6 col mx-5">
    <div class="catalog-text">
<h2 class="oy-1">Vishal Mega mart</h2> <hr>
<h6>This room has a good surrounding with cleanliness</h6>
<h3 class="py-1">Room details</h3>
<h5>1 BHK -  Rs 3000 / Month</h5>
<h5>1 Extra Large Double Bed</h5>
<h5>Modern Kitchen</h5>
<h5>Ensuite bathroom</h5>
<h5>Balcony</h5>
<div class="class py-1">
  <a class="buy btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Contact Owner</a></div>
    <div class="collapse" id="collapseExample">
    <div class="card card-body" id="mycard1">
    Name : Mahesh Singh Bhadoriya   <br>
    Phone Number : 9645638752  <br>
    Mail id : bhadoriyamahesh@gmail.com 
    </div>
  </div></div> </div> </div>
  </section> 




  <section class="container singlepro my-1 pt-5 mx-6 fb-30">
    <div class="row">
    <div class="col-lg-5 col-md-12 col-12">
<img class="img-fluid w-100 pb-1 mt-4" src="/static/s0.jpg" id="main-img" alt="product image">
<br><br>
<div class="small-img-group">
  <div class="small-img-col">
    <img src="/static/s4.jpg" width="100%" class="small-img" alt="">
  </div>
  <div class="small-img-col">
    <img src="/static/s1.jpg"  width="100%" class="small-img" alt="">
  </div>
  <div class="small-img-col">
    <img src="/static/s2.jpg"  width="100%" class="small-img" alt="">
  </div> 

  <div class="small-img-col">
    <img src="/static/s5.jpg"  width="100%" class="small-img" alt="">
  </div>
</div></div>

  <div class="catalog row mx-6 col mx-5">
    <div class="catalog-text">
<h2 class="py-1">The Little Stationery</h2> <hr>
<h6>This room has a good surrounding with cleanliness</h6>
<h3 class="py-1">Room details</h3>
<h5>1 BHK -  Rs 4000 / Month</h5>
<h5>1 Extra Large Double Bed</h5>
<h5>Modern Kitchen</h5>
<h5>Study Room</h5>
<h5>Ensuite bathroom</h5>
<div class="class py-1">
  <a class="buy btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Contact Owner</a></div>
    <div class="collapse" id="collapseExample">
    <div class="card card-body" id="mycard4">
    Name : Omprakash Kushwaah   <br>
    Phone Number : 9847578452  <br>
    Mail id : kushwaah@gmail.com 
    </div>
  </div></div> </div> </div>
  </section>
    

  <section class="container singlepro my-1 pt-5 mx-6 fb-30">
    <div class="row">
    <div class="col-lg-5 col-md-12 col-12">
<img class="img-fluid w-100 pb-1 mt-4" src="/static/b1.jpg" id="main-img" alt="product image">
<br><br>
<div class="small-img-group">
  <div class="small-img-col">
    <img src="/static/x1.png"  width="100%" class="small-img" alt="">
  </div>
  <div class="small-img-col">
    <img src="/static/b3.jpg"  width="100%" class="small-img" alt="">
  </div> 
  <div class="small-img-col">
    <img src="/static/b5.png"  width="100%" class="small-img" alt="">
  </div>
   <div class="small-img-col">
    <img src="/static/x2.jpg" width="100%" class="small-img" alt="">
  </div>
</div></div>

  <div class="catalog row mx-6 col mx-5">
    <div class="catalog-text">
<h2 class="py-1"> Balaji General Store</h2> <hr>
<h6>This room has a good surrounding with cleanliness</h6>
<h3 class="py-1">Room details</h3>
<h5>1 BHK -  Rs 3500 / Month</h5>
<h5>1 Extra Large two Beds</h5>
<h5>Modern Kitchen</h5>
<h5>Ensuite bathroom</h5>
<h5>Balcony</h5>
<div class="class py-1">
  <a class="buy btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Contact Owner</a></div>
    <div class="collapse" id="collapseExample">
    <div class="card card-body" id="mycard5">
    Name : Shubham Sharma   <br>
    Phone Number : 9647746452  <br>
    Mail id : shubhamsharma@gmail.com 
    </div>
  </div></div> </div> </div>
  </section>

  <section class="container singlepro my-1 pt-5 mx-6 fb-30">
    <div class="row">
    <div class="col-lg-5 col-md-12 col-12">
<img class="img-fluid w-100 pb-1 mt-4" src="/static/mn.png" id="main-img" alt="product image">
<br><br>
<div class="small-img-group">
    <div class="small-img-col">
      <img src="/static/xyz.png" width="100%" class="small-img" alt="">
    </div>
    <div class="small-img-col">
    <img src="/static/cx.png"  width="100%" class="small-img" alt="">
  </div>
  <div class="small-img-col">
    <img src="/static/g7.jpg"  width="100%" class="small-img" alt="">
  </div> 
  <div class="small-img-col">
    <img src="/static/g6.jpg" width="100%" class="small-img" alt="">
  </div>

</div></div>

  <div class="catalog row mx-6 col mx-5">
    <div class="catalog-text">
<h2 class="py-1">Paradise Fashion Tailoring </h2> <hr>
<h6>This room has a good surrounding with cleanliness</h6>
<h3 class="py-1">Room details</h3>
<h5>1 BHK -  Rs 3500 / Month</h5>
<h5>1 Extra Large Double Bed</h5>
<h5>Modern Kitchen</h5>
<h5>Ensuite bathroom</h5>
<h5>Balcony</h5>
<div class="class py-1">
  <a class="buy btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Contact Owner</a></div>
    <div class="collapse" id="collapseExample">
    <div class="card card-body" id="mycard6">
    Name : Harendra Singh Tomar  <br>
    Phone Number : 8675264737  <br>
    Mail id : tomarsing@gmail.com 
    </div>
  </div></div> </div> </div>
  </section>

  </body>
</html>
